*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background-color: #FFF5E0;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 5% 85%;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
}

.add-book{
    border-style: none;
    background-color: #BB2525;
    border-radius: 5px;
    color: #FFF5E0;
    height: 40px;
    width: 100px;
    box-shadow: 5px 5px 0px #141E46;
}

.book-container{
    background-color: #FF6969;
    width: 80%;
    border-radius: 15px;
    height: 50%;
    box-shadow: 10px 10px 0px #141E46;
}
