body{
    margin: 0;
    background-color: #FFF5E0;
    height: 100vh;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-container{
    background-color: #FF6969;
    width: 80%;
    border-radius: 15px;
    height: 50%;
}
